.card {
  width: 18em;
  text-align: center;
}

.flexing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* icone de la navbar */
#ShoesAddictedIcon {
  width: 40px;
  padding-bottom: 10px;
}

.badge {
  background-color: grey;
}

.container-fluid {
  padding-top: 100px;
}
