body {
  font-family: 'Pavanam', sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #05121B;
}

/*Gestion des CARDS */
.badge {
  background-color: grey;
}
/*Titre en gras dans les cards*/
.prodName {
  font-weight: bold;
}

.prodRef {
  font-size: 0.7em;
}

.btn {
  margin: 20px;
}

.container-fluid {
  padding-top: 100px;
}

.card {
  width: 18em;
  text-align: center;
  margin-bottom: 20px;
}

.flexing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ref {
  font-style: italic;
}

.nous {
  background-color: #05121B;
  color: #BBB0B4;
  padding-top: 100px;
  padding-bottom: 100px;
}

#shopName{
  color : #BBB0B4;
  font-size: 4em;
  font-weight: bolder;
}


/*Parallax*____________________________________________________________________________________/
/* The image used */
.parallax01{
  background-image: url('../images/bg_footwear.jpg');
  padding-top: 100px;
  height: 700px;
  max-width: 4096px;
  font-size: 3em;
  color: white;

/* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* NAVBAR__________________________________________________________*/
#ShoesAddictedIcon {
  width: 40px;
  padding-bottom: 20px;
}

/* CSS du MODAL ______________________________________________________*/

.table {
  font-size: 0.9em;
  margin: auto;
}
.qty {
  width: 4em;
}

.trash {
  display: inline;
}
